@import '@/assets/styles/uikit/reset';
@import '@/assets/styles/uikit/icons';

@font-face {
  font-family: 'Russo One';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Russo One'),
    url('/fonts/RussoOne.woff') format('woff'),
    url('/fonts/RussoOne.woff2') format('woff2');
}
body {
  font-size: 16px;
  font-family: 'Russo One', sans-serif;
}

button,
input,
textarea {
  font-size: 16px;
  font-family: 'Russo One', sans-serif;
}